<header class="mdl-layout__header mdl-layout--small-screen-only mdl-layout__header--scroll noprint">
  <div class="mdl-layout-icon"></div>
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <div class="mdl-layout-spacer"></div>
    <span class="mdl-layout-title">Ben Morris</span>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-layout-spacer"></div>
  </div>
</header>

<div class="mdl-layout__drawer noprint">
  <span class="mdl-layout-title">Ben Morris</span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="/index.html">Home</a>
    <a class="mdl-navigation__link" href="/tech.html">Tech</a>
    <a class="mdl-navigation__link" href="/kids.html">Kids</a>
    <a class="mdl-navigation__link" href="/work.html">Work</a>
  </nav>
  <div class="mdl-layout-spacer"></div>
  <p class="sidebar-content"><em>find me at:</em></p>
  <a href="https://twitter.com/bengm" class="sidebar-content "><i class="mdi mdi-twitter"></i> @bengm</a>
  <div class="mdl-layout-spacer"></div>
</div>
